@using Telerik.Web.Mvc.UI;
@model ProjectManagement.Domain.tblProjectSelectionDTO
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    @using (Html.BeginForm("ProjectSelection", "Account", FormMethod.Post, new { id = "frmDashboard", @class = "form-horizontal", autofocus = "autofocus" }))
    {
        <div class="col-md-12 ui-sortable">
            <!-- begin panel -->
            <div data-sortable-id="form-stuff-1" class="panel panel-inverse">
                <div class="panel-heading">
                    <h4 class="panel-title">Dashboard</h4>
                </div>
                <form class="form-horizontal">
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-md-3 control-label">Project Selection</label>
                            <div class="col-md-5">
                                <select id="ProjectId" name="ProjectId" class="form-control" multiple="" style="height: 120px;">
                                    @foreach (var project in Model.ProjectList)
                                    {
                                        <option value="@project.ProjectId">@project.Title</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label"></label>
                            <div class="col-md-5">
                                <button class="btn btn-sm btn-success" type="submit">Submit</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- end panel -->
        </div>
    }
</div>
<script src="~/Content/Script/Member.js"></script>
<script type="text/javascript">
    //ActivateSelectedMenu('menuAdminDefinition');
</script>
