@using Telerik.Web.Mvc.UI;
@{
    ViewBag.Title = "Unauthorized";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12 ui-sortable">
        <div data-sortable-id="form-stuff-1" class="panel panel-inverse">
            <div class="panel-heading">
                <h4 class="panel-title">Unauthorized</h4>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <h2>You are not unauthorized to do this task.</h2>
                    <h3>Contact admin for more details.</h3>
                </div>
            </div>
        </div>
    </div>
</div>
