@using ProjectManagement.Web;
@using ProjectManagement.Domain;
@model ProjectManagement.Domain.tblImageMasterDTO
<div class="row">
    <div class="col-md-12">
        <div class="panel-body">
           <img src="@Model.ImagesPath" alt="@Model.Comment" height="500" width="760" />
        </div>
    </div>
</div>
