@using Telerik.Web.Mvc.UI;
@{
    ViewBag.Title = "Approval Pending Entry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/plugins/bootstrap-datepicker/css/datepicker.css" rel="stylesheet" />
<link href="~/Content/plugins/bootstrap-datepicker/css/datepicker3.css" rel="stylesheet" />
<style>
    .t-datepicker {
        width: 200px !important;
    }
</style>

<div class="row">
    <!-- begin col-6 -->
    <div class="col-md-12 ui-sortable">
        <!-- begin panel -->
        <div data-sortable-id="form-stuff-1" class="panel panel-inverse">
            <div class="panel-heading">
                <h4 class="panel-title">Approval Pending Entry</h4>
            </div>
            <div class="panel-body form-horizontal ">
                <div class="form-group" style="padding: 20px">
                    @(Html.Telerik().Grid<ProjectManagement.Domain.del_Mat_AccountTwoDTO>().Name("ListApprovalTransactionEntryGrid")
                                        .DataKeys(datakKey => datakKey.Add(key => key.Ent_No))
                                        .DataBinding(dataBinding => dataBinding.Ajax().Select("ListTransactionEntryAjax", "TransactionApproval"))
                        .Columns(columns =>
                        {
                            columns.Bound(column => column.Rec_Pay).Title("Mode");
                            columns.Bound(column => column.EntryTypeString).Title("Entry Type");
                            columns.Bound(column => column.FromSupplierName).Title("From Account");
                            columns.Bound(column => column.ToSupplierName).Title("To Account");
                            columns.Bound(column => column.Ddate).Title("Date").Format("{0:dd-MM-yyyy}");
                            columns.Bound(column => column.Ammount).Title("Amount").Format("{0:0.00}").HtmlAttributes(new { style = "text-align:right" }).HeaderHtmlAttributes(new { style = "text-align:right" });
                            columns.Bound(column => column.Ent_No)
                                                            .Filterable(false)
                                                            .Sortable(false)
                                                            .Groupable(false)
                                                            .Width(80)
                                                            .Title(String.Empty)
                                                            .ClientTemplate("<center><a title='Approve' href=" + Url.Action("Approve", "TransactionApproval", new { id = "<#= Ent_No #>" }) + ">Approve</a></center>");
                        })
                        .Sortable()
                        .Selectable()
                        .Filterable()
                        .Scrollable(t => t.Height("auto"))
                        .HtmlAttributes(new { style = "width:100%;" })
                        .Resizable(resizing => resizing.Columns(true))
                        .Pageable(paging => paging.PageSize(25).Enabled(true).Style(GridPagerStyles.NextPreviousAndNumeric).Position(GridPagerPosition.Bottom))
                    )
                </div>
            </div>
        </div>
        <!-- end panel -->
    </div>
</div>
<script src="~/Content/Script/TransactionEntry.js"></script>
<script type="text/javascript">
    ActivateSelectedMenu('menuTransactionApprove');
</script>
