USE [ProjectManagement]
GO
/****** Object:  Table [dbo].[tblCompany]    Script Date: 03/01/2015 20:29:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblCompany](
	[CompanyId] [int] IDENTITY(1,1) NOT NULL,
	[CompanyName] [varchar](50) NULL,
	[Address] [varchar](500) NULL,
	[ContactDetails] [varchar](50) NULL,
	[AboutUs] [varchar](50) NULL,
	[CreationDateTime] [datetime] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_tblCompany] PRIMARY KEY CLUSTERED 
(
	[CompanyId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblAccountType]    Script Date: 03/01/2015 20:29:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblAccountType](
	[AccountTypeId] [int] NOT NULL,
	[TypeName] [varchar](50) NULL,
	[Childof] [int] NULL,
	[IsDisplay] [bit] NULL,
	[ClosingBalance] [float] NULL,
 CONSTRAINT [PK_tblAccountType] PRIMARY KEY CLUSTERED 
(
	[AccountTypeId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[tblAccountType] ([AccountTypeId], [TypeName], [Childof], [IsDisplay], [ClosingBalance]) VALUES (1, N'_Primary', 1, 0, 0)
INSERT [dbo].[tblAccountType] ([AccountTypeId], [TypeName], [Childof], [IsDisplay], [ClosingBalance]) VALUES (2, N'Bank Accounts', 7, 1, 0)
INSERT [dbo].[tblAccountType] ([AccountTypeId], [TypeName], [Childof], [IsDisplay], [ClosingBalance]) VALUES (3, N'Bank OD A/c', 18, 1, 0)
/****** Object:  Table [dbo].[tblMaterialGroup]    Script Date: 03/01/2015 20:29:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblMaterialGroup](
	[MaterialGroupId] [int] IDENTITY(1,1) NOT NULL,
	[GroupName] [varchar](50) NULL,
	[Description] [varchar](500) NULL,
 CONSTRAINT [PK_tblMaterialGroup] PRIMARY KEY CLUSTERED 
(
	[MaterialGroupId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblPermissionMaster]    Script Date: 03/01/2015 20:29:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblPermissionMaster](
	[PermissionId] [int] IDENTITY(1,1) NOT NULL,
	[PermissionName] [varchar](50) NULL,
	[Description] [varchar](500) NULL,
 CONSTRAINT [PK_PermissionMaster] PRIMARY KEY CLUSTERED 
(
	[PermissionId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblMemberType]    Script Date: 03/01/2015 20:29:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblMemberType](
	[MemberTypeId] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [varchar](50) NULL,
 CONSTRAINT [PK_MemberType] PRIMARY KEY CLUSTERED 
(
	[MemberTypeId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblMember]    Script Date: 03/01/2015 20:29:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblMember](
	[MemberId] [int] IDENTITY(1,1) NOT NULL,
	[MemberTypeId] [int] NULL,
	[FirstName] [varchar](50) NULL,
	[LastName] [varchar](50) NULL,
	[EmailAddress] [varchar](50) NULL,
	[MobileNo] [varchar](50) NULL,
	[Password] [varchar](50) NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_tblMember] PRIMARY KEY CLUSTERED 
(
	[MemberId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblMemberPermission]    Script Date: 03/01/2015 20:29:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblMemberPermission](
	[MemberPermissionId] [int] IDENTITY(1,1) NOT NULL,
	[PermisisonId] [int] NOT NULL,
	[MemberId] [int] NOT NULL,
 CONSTRAINT [PK_MemberPermission] PRIMARY KEY CLUSTERED 
(
	[MemberPermissionId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblMaterial]    Script Date: 03/01/2015 20:29:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblMaterial](
	[MaterialId] [int] IDENTITY(1,1) NOT NULL,
	[MaterialGroupId] [int] NOT NULL,
	[Name] [varchar](200) NOT NULL,
	[BasicRate] [float] NOT NULL,
	[OpeningStock] [float] NOT NULL,
	[MemberId] [int] NOT NULL,
	[CompanyId] [int] NOT NULL,
	[CreationDateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_tblMaterial] PRIMARY KEY CLUSTERED 
(
	[MaterialId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  ForeignKey [FK_tblMaterial_tblCompany]    Script Date: 03/01/2015 20:29:52 ******/
ALTER TABLE [dbo].[tblMaterial]  WITH CHECK ADD  CONSTRAINT [FK_tblMaterial_tblCompany] FOREIGN KEY([CompanyId])
REFERENCES [dbo].[tblCompany] ([CompanyId])
GO
ALTER TABLE [dbo].[tblMaterial] CHECK CONSTRAINT [FK_tblMaterial_tblCompany]
GO
/****** Object:  ForeignKey [FK_tblMaterial_tblMaterialGroup]    Script Date: 03/01/2015 20:29:52 ******/
ALTER TABLE [dbo].[tblMaterial]  WITH CHECK ADD  CONSTRAINT [FK_tblMaterial_tblMaterialGroup] FOREIGN KEY([MaterialGroupId])
REFERENCES [dbo].[tblMaterialGroup] ([MaterialGroupId])
GO
ALTER TABLE [dbo].[tblMaterial] CHECK CONSTRAINT [FK_tblMaterial_tblMaterialGroup]
GO
/****** Object:  ForeignKey [FK_tblMaterial_tblMember]    Script Date: 03/01/2015 20:29:52 ******/
ALTER TABLE [dbo].[tblMaterial]  WITH CHECK ADD  CONSTRAINT [FK_tblMaterial_tblMember] FOREIGN KEY([MemberId])
REFERENCES [dbo].[tblMember] ([MemberId])
GO
ALTER TABLE [dbo].[tblMaterial] CHECK CONSTRAINT [FK_tblMaterial_tblMember]
GO
/****** Object:  ForeignKey [FK_tblMember_tblMemberType]    Script Date: 03/01/2015 20:29:52 ******/
ALTER TABLE [dbo].[tblMember]  WITH CHECK ADD  CONSTRAINT [FK_tblMember_tblMemberType] FOREIGN KEY([MemberTypeId])
REFERENCES [dbo].[tblMemberType] ([MemberTypeId])
GO
ALTER TABLE [dbo].[tblMember] CHECK CONSTRAINT [FK_tblMember_tblMemberType]
GO
/****** Object:  ForeignKey [FK_tblMemberPermission_tblMember]    Script Date: 03/01/2015 20:29:52 ******/
ALTER TABLE [dbo].[tblMemberPermission]  WITH CHECK ADD  CONSTRAINT [FK_tblMemberPermission_tblMember] FOREIGN KEY([MemberId])
REFERENCES [dbo].[tblMember] ([MemberId])
GO
ALTER TABLE [dbo].[tblMemberPermission] CHECK CONSTRAINT [FK_tblMemberPermission_tblMember]
GO
/****** Object:  ForeignKey [FK_tblMemberPermission_tblPermissionMaster]    Script Date: 03/01/2015 20:29:52 ******/
ALTER TABLE [dbo].[tblMemberPermission]  WITH CHECK ADD  CONSTRAINT [FK_tblMemberPermission_tblPermissionMaster] FOREIGN KEY([PermisisonId])
REFERENCES [dbo].[tblPermissionMaster] ([PermissionId])
GO
ALTER TABLE [dbo].[tblMemberPermission] CHECK CONSTRAINT [FK_tblMemberPermission_tblPermissionMaster]
GO
