@using Telerik.Web.Mvc.UI;
@{
    ViewBag.Title = "Project List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <!-- begin col-6 -->
    <div class="col-md-12 ui-sortable">
        <!-- begin panel -->
        <div data-sortable-id="form-stuff-1" class="panel panel-inverse">
            <div class="panel-heading">
                <h4 class="panel-title">Project Listing</h4>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    @(Html.Telerik().Grid<ProjectManagement.Domain.tblProjectDTO>().Name("ListProjectGrid")
                                        .DataKeys(datakKey => datakKey.Add(key => key.ProjectId))
                                        .DataBinding(dataBinding => dataBinding.Ajax().Select("ListProjectAjax", "Project"))
                        .Columns(columns =>
                        {
                            columns.Bound(column => column.Title).Title("Title");
                            columns.Bound(column => column.SiteName).Title("Site Name");
                            columns.Bound(column => column.Address).Title("Address");
                            columns.Bound(column => column.Catalog).Title("Catalog");
                            columns.Bound(column => column.Description).Title("Description");
                            columns.Bound(column => column.StratDateTime).Title("Creation Date").Format("{0:" + System.Threading.Thread.CurrentThread.CurrentCulture.DateTimeFormat.ShortDatePattern + "}");
                            columns.Bound(column => column.IsActive).Title("Is Active");
                            columns.Bound(column => column.ProjectId)
                                                            .Filterable(false)
                                                            .Sortable(false)
                                                            .Groupable(false)
                                                            .Width(50)
                                                            .Title(String.Empty)
                                                           .ClientTemplate("<center><a title='Edit' href=" + Url.Action("Save", "Project", new { id = "<#= ProjectId #>" }) + "><i class='fa fa-pencil'></i></a></center>");
                            columns.Bound(column => column.ProjectId)
                                                           .Filterable(false)
                                                           .Sortable(false)
                                                           .Groupable(false)
                                                           .Width(50)
                                                           .ClientTemplate("<center><a title='Delete'  onclick='DeleteProject(<#= ProjectId #>);'><i class='fa fa-trash-o'></i></a></center>")
                                                           .Title(string.Empty);
                        })
                        .ToolBar(commands => commands.Custom().Action("Save", "Project", new { id = 0 })
                            .ButtonType(GridButtonType.Text)
                            .Text("Add Project"))
                        .Sortable()
                        .Selectable()
                        .Filterable()
                        .Scrollable(t => t.Height("auto"))
                        .HtmlAttributes(new { style = "width:100%;" })
                        .Resizable(resizing => resizing.Columns(true))
                        .Pageable(paging => paging.PageSize(50).Enabled(true).Style(GridPagerStyles.NextPreviousAndNumeric).Position(GridPagerPosition.Bottom))
                )
                </div>
            </div>
        </div>
        <!-- end panel -->
    </div>
</div>
<script src="~/Content/Script/Project.js"></script>
<script type="text/javascript">
    ActivateSelectedMenu('menuProject');
</script>
