@using Telerik.Web.Mvc.UI;
@{
    ViewBag.Title = "Material Entry List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <!-- begin col-6 -->
    <div class="col-md-12 ui-sortable">
        <!-- begin panel -->
        <div data-sortable-id="form-stuff-1" class="panel panel-inverse">
            <div class="panel-heading">
                <h4 class="panel-title">Material Entry Listing</h4>
            </div>
            <div class="panel-body">
                <div class="form-group">
                     @(Html.Telerik().Grid<ProjectManagement.Domain.QtyMaterialDTO>().Name("ListMaterialEntryGrid")
                                        .DataKeys(datakKey => datakKey.Add(key => key.Reg_id))
                                        .DataBinding(dataBinding => dataBinding.Ajax().Select("ListMaterialEntryAjax", "MaterialEntry"))
                        .Columns(columns =>
                        {
                            columns.Bound(column => column.SupplierName).Title("Supplier");
                            columns.Bound(column => column.MaterialName).Title("Material");
                            columns.Bound(column => column.Ddate).Title("Date").Format("{0:" + System.Threading.Thread.CurrentThread.CurrentCulture.DateTimeFormat.ShortDatePattern + "}");
                            columns.Bound(column => column.Qty).Title("Quantity");
                            columns.Bound(column => column.Rate).Title("Rate");
                            columns.Bound(column => column.Ammount).Title("Amount");
                            columns.Bound(column => column.Reg_id)
                                                            .Filterable(false)
                                                            .Sortable(false)
                                                            .Groupable(false)
                                                            .Width(50)
                                                            .Title(String.Empty)
                                                           .ClientTemplate("<center><a title='Edit' href=" + Url.Action("Save", "MaterialEntry", new { id = "<#= Reg_id #>" }) + "><i class='fa fa-pencil'></i></a></center>");
                            columns.Bound(column => column.Reg_id)
                                                           .Filterable(false)
                                                           .Sortable(false)
                                                           .Groupable(false)
                                                           .Width(50)
                                                           .ClientTemplate("<center><a title='Delete'  onclick='DeleteMaterialEntry(\"<#= Reg_id #>\");'><i class='fa fa-trash-o'></i></a></center>")
                                                           .Title(string.Empty);
                        })
                        .ToolBar(commands => commands.Custom().Action("Save", "MaterialEntry", new { id = "" })
                            .ButtonType(GridButtonType.Text)
                            .Text("Add Material Entry"))
                        .Sortable()
                        .Selectable()
                        .Filterable()
                        .Scrollable(t => t.Height("auto"))
                        .HtmlAttributes(new { style = "width:100%;" })
                        .Resizable(resizing => resizing.Columns(true))
                        .Pageable(paging => paging.PageSize(50).Enabled(true).Style(GridPagerStyles.NextPreviousAndNumeric).Position(GridPagerPosition.Bottom))
                )
                </div>
            </div>
        </div>
        <!-- end panel -->
    </div>
</div>
<script src="~/Content/Script/MaterialEntry.js"></script>
<script type="text/javascript">
    //ActivateSelectedMenu('menuAdminDefinition');
</script>
