@using Telerik.Web.Mvc.UI;
@model ProjectManagement.Domain.GroupByItemDTO
@{
    ViewBag.Title = "Save Material Group";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <!-- begin col-6 -->
    <div class="col-md-12 ui-sortable">
        <!-- begin panel -->
        <div data-sortable-id="form-stuff-1" class="panel panel-inverse">
            <div class="panel-heading">
                <h4 class="panel-title">Save Material Group</h4>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm("Save", "MaterialGroup", FormMethod.Post, new { id = "frmMaterialGroup", @class = "form-horizontal" }))
                {
                    @Html.HiddenFor(model => model.GrpIdItem)
                    <div class="form-group">
                        <label class="col-md-3 control-label"></label>
                        <div class="col-md-5">
                            @Html.ValidationSummary(false)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Material Group Name<span class="spanError">*</span></label>
                        <div class="col-md-5">
                            @Html.TextBoxFor(model => model.GroupItemName, new { @placeholder = "Material Group Name", @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"></label>
                        <div class="col-md-5">
                            <button class="btn btn-sm btn-success" type="submit">Submit</button>
                            <button class="btn btn-sm btn-success" type="submit" onclick="document.location.href = '@Url.Action("ListAll", "MaterialGroup")'">Cancel</button>
                        </div>
                    </div>
                }
            </div>
        </div>
        <!-- end panel -->
    </div>
</div>
<script type="text/javascript">
    //ActivateSelectedMenu('menuAdminDefinition');
</script>
